body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.web-text-saver-popup {
    width: 300px;
    padding: 20px;
}

.web-text-saver-popup h2 {
    margin-top: 0;
}

.web-text-saver-popup label,
.web-text-saver-popup input,
.web-text-saver-popup textarea,
.web-text-saver-popup button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.web-text-saver-popup textarea {
    height: 100px;
    resize: vertical;
}

.web-text-saver-popup button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.web-text-saver-popup button:hover {
    background-color: #45a049;
}

.web-text-saver-popup #closeButton {
    background-color: #f44336;
}

.web-text-saver-popup #closeButton:hover {
    background-color: #d32f2f;
}
